<h1><%= @project.name %></h1>

<h2>Theme:</h2>
<p><%= @challenge.theme %></p>

<h2>Material:</h2>
<p><%= @project.material %></p>

<h3>Number of Contestants: <%= @project.num_contestants %> </h3>

<p><b>Average Contestant Experience: </b><%= @project.average_years_exp %> years</p>
